node_modules
.pnpm-store
.turbo
.cache
.DS_Store

dist
coverage
test-results
playwright-report
*.tsbuildinfo

.nuxt
.output
.vercel
.nitro
.data
.pack-check

.env
.env.*
!.env.example

packages/docs/pnpm-lock.yaml
packages/docs/pnpm-workspace.yaml
